<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        {% block stylsheets %}{% endblock %}
        {% block scripts %}{% endblock %}
        
        <title>{%block title %}{% endblock %}</title>
    </head>
<!-- Page Content
    Items
        * individual pages
 -->
    <body>
        <div id="headerSection">
            <h3>Log In {%block currentLoc%}{%endblock%}</h3>
            <!-- Need Logo & LogIn Button Here-->
        </div>
        {% if auth %}
            {% block content %}{% endblock %}
        {% else %}
            <!-- Default Screen -->
        {% endif %}
    </body>
    
<!-- Footer -->
    {%block footer %}{% endblock %}
</html>
