{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<!-- Employee View  -->
        <div id="rightSide">
            <div id="profile">
                {{imgsrc}}
            </div>
            <div id="stats">
                {{name}}
            </div>
            <button>Create Report</button>
        </div>
        <div id="leftSide">
            <div id="controls">
            </div>
            <div id="canvas">
                <div id="graph1">
                </div>
                <div id="graph2">
                </div>
            </div>
            <div id="status">
            </div>	
        </div>
    </body>
{% endblock %}
{%block eofScripts %}    
{% endblock %}
