color: white; font: 14px Helvetica, sans-serif; 

p {
    font-size: 12px;
    color: #EFEFFB;
}

h1,h2,h3 {
	color: #EFEFFB;
}

.button, button {
    color: #0000FF;
    border: 14px;
    font-weight: bold;

}

tr {
	color: #EFEFFB;
	text-align: center;
}

li {
	list-style-type: none;
}

table,td{
    border: solid white;
	margin-left: auto;
	margin-right: auto;
}

.chartSwitch {
	color: #EFEFFB;
	text-align: center;
}

.logoutbutton{
	float: right;
	color: #EFEFFB;
}

.warning {
	color: red;
}

#headerSection {
	height: 20%
	min-height: 100px;
}

#leftSide {
    float: left;    
    text-align: center;
}
#leftSide button {
}
#leftSide #stats {
    padding-left: 50px;
    padding-top: 20px;
	color: #EFEFFB;
}
#leftSide #groupBlk {
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 150px;
    padding-right: 120px;
    padding-top: 20px;
}
#groupBlk li {
    float: left;
    margin-left: 10px;
}
#member {
    display: inline;
}

#stats button {
    margin-left: 30px;
}

#leftSide #profile {
    padding-left: 100px;
    padding-top: 50px;
}

#rightSide {
    width: 65%;
    height: 50%;
    margin-right: 100px;
    float: right;    
}

#footer {
    text-align: right;
    background: none repeat scroll 0 0 #CCCCCC;
    clear: left;
    height: 1%;
    padding: 20px;
    text-align: right;
}

#titleImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#employeeTitle #titleImage {
	margin-left: 0;
}

#supervisorTitle #titleImage {
	margin-left: 0;
}

#loggedInText {
	display: block;
	float: right;
	color: #EFEFFB;
}

#stat,#status {
	color: #EFEFFB;
}

#status .column {
    text-align: left;
    float: left;
    padding: 20px 200px 100px 20px;

}

.center #groupBlk {
    text-align: left;
    float: left;
    padding-top: 25px;
}

.ui-widget {
    margin-left: 20px;
}

.searchtitle {
    color: #EFEFFB;
}

#tableHeader{

}

.dangerHigh {
    color: #FF0000;;
}

.dangerLow {
    
}

.highlighted {
    border-color: green;
    border-style: inset;
    border-width: 5px;
}

#downloadBtn {
    padding-left: 50px;
}

.xBtn {
    left: 15px;
    position: relative;
    top: -80px;
}
    
