color: white; font: 14px Helvetica, sans-serif; 

p {
    font-size: 12px;
    color: #EFEFFB;
}

h1 {
	color: #EFEFFB;
}

h2 {
	color: #EFEFFB;
}

h3 {
	color: #EFEFFB;
}

button {
    color: #0000FF;
    border: 14px;
    font-weight: bold;

}

tr {
	color: #EFEFFB;
	text-align: center;
}

li {
	list-style-type: none;
}

table{
	margin-left: auto;
	margin-right: auto;
}

.chartSwitch {
	color: #EFEFFB;
	text-align: center;
}

.button{
	float: right;
	color: #EFEFFB;
}

.warning {
	color: red;
	font-size: 200%;
}

#headerSection {
	height: 20%
	min-height: 100px;
}

#leftSide {
    width: 25%;
    height: 50%;
    float: left;    
}

#leftSide #stats {
}

#leftSide #profile {
}

#rightSide {
    width: 75%;
    height: 50%;
    float: right;    
}

#rightSide #status{
    /*
    This needs to be changed.

    color: red;
    font-size: 51px;
    */
}

#footer {
    text-align: right;
    background: none repeat scroll 0 0 #CCCCCC;
    clear: left;
    height: 1%;
    padding: 20px;
    text-align: right;
}

#titleImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#employeeTitle #titleImage {
	margin-left: 0;
}

#supervisorTitle #titleImage {
	margin-left: 0;
}

/*#status #warning {
	color:#EFEFFB;
} */

#loggedInText {
	display: block;
	float: right;
	color: #EFEFFB;
}

/* #status #VariableTable {
	color: #EFEFFB;
	text-align: center;
} */

#stats {
	color: #EFEFFB;
}

#status {
	color: #EFEFFB;
	text-align: center;
}

#groupBlk {
  /*background-color: #CBCEAE; */
    width:80%;
    height:100%;
}

.ui-widget {
    margin-left: 20px;
}

.searchtitle {
    color: #EFEFFB;
}

#tableHeader{

}

.dangerHigh {
    color: #FF0000;;
}

.dangerLow {
    
}

.highlighted {
    border-color: green;
    border-style: inset;
    border-width: 5px;
}
