<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
		{% block headSection %}{% endblock %}
        <title>{%block title %}{% endblock %}</title>
    </head>
<!-- Page Content
    Items
        * individual pages
 -->
    <body>
        <div id="headerSection">
            <img src="{{ STATIC_URL }}assets/logo.png">
            {% if auth %}
                <h3>Logged In As {{header.accessLevel}}</h3>
                <a class="button" href="logout">Log Out</a>
            {% endif %}
        </div>
        {% if auth %}
            {% block content %}{% endblock %}
        {% else %}
        <div class="center">
            {{errorMessage}}
            <form action="login" method="post">
                <input type="radio" name="userType" value="employee">Employee<br />
                <input type="radio" name="userType" value="supervisor">Supervisor<br />
                <input type="radio" name="userType" value="manager">Management<br />
                Username <input type="text" value="Enter your ID" name="user" />
                Password <input type="password" value="secrete" name="pwd" />
                <input type="submit" value="Submit" />
            </form>
        </div>
        {% endif %}
    </body>
    
<!-- Footer -->
    {%block footer %}{% endblock %}
</html>
