<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		{% block headSection %}{% endblock %}
        <title>{%block title %}{% endblock %}</title>
    </head>
<!-- Page Content
    Items
        * individual pages
 -->
    <body>
        <div id="headerSection">
            <h3>Log In {%block currentLoc%}{%endblock%}</h3>
            <!-- Need Logo & LogIn Button Here-->
        </div>
        <!-- Auth inside comment tag -->
        {% comment %}
        {% if auth %}
            {% block content %}{% endblock %}
        {% else %}
        {% comment %}
        {% endcomment %}
        <div class="center">
            {{errorMessage}}
            <form name="" method="get">
                <input type="radio" name="userType" value="employee">Employee<br />
                <input type="radio" name="userType" value="supervisor">Supervisor<br />
                <input type="radio" name="userType" value="manager">Management<br />
                Username <input type="text" value="Enter your ID" name="user" />
                Password <input type="password" value="secrete" name="pwd" />
                <input type="submit" value="Submit" />
            </form>
        </div>
        {% comment %}
        {% endif %}
        {% endcomment %}
    </body>
    
<!-- Footer -->
    {%block footer %}{% endblock %}
</html>
