{% extends "base.html" %}
{% block title %}SafeTrac -- Employee{% endblock %}
{% block headSection %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    {% load chartit %}
    {{ chart1|load_charts:"graph1" }}
{% endblock %}

{% block content %}
<!-- Employee View  -->
        <div id="leftSide">
            <div id="profile">
                <img src="{{ STATIC_URL }}{{imgsrc}}" />
            </div>
            <div id="stats">
                <ul>
                {% for key, value in employeeInfo.items %}
                    <li>{{ key }}: {{ value }}</li>
                {% endfor %}
                </ul>
            </div>
            <button>Create Report</button>
        </div>
        <div id="rightSide">
            <div id="controls">
            </div>
            <div id="canvas">
                <div id="graph1">
                </div>
            </div>
            <div id="status">
                <h2>Right now you are: {{status.safety}}</h2>
                <table>
                    <tr>
                        <td>Temperature</td>
                        <td>Humidity</td>
                        <td>Noise</td>
                        <td>Impact</td>
                    </tr>
                    <tr>
                        <td>{{status.temp}}</td>
                        <td>{{status.humid}}</td>
                        <td>{{status.noise}}</td>
                        <td>{{status.impact}}</td>
                    </tr>
                </table>
            </div>	
        </div>
    </body>
{% endblock %}

{%block footer %}    
{% endblock %}