{% extends "base.html" %}
{% block title %}SafeTrac -- Employee{% endblock %}
{% block headSection %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="{{STATIC_URL}}js/swfobject.js"></script>
    <script src="{{STATIC_URL}}js/downloadify.min.js"></script>
    <script src="{{STATIC_URL}}scripts/supportFun.js"></script>
    <script src="{{STATIC_URL}}scripts/employee.js"></script>
    {% load chartit %}
    {{ chart1|load_charts:"graph1" }}
{% endblock %}
{% block titleTextImage %}
    <div id="employeeTitle"> 
    	<img id="titleImage" src="{{ STATIC_URL }}assets/title.png">
    </div>
{% endblock %}

{% block content %}
<!-- Employee View-->
        <div id="leftSide">
            <div id="profile">
                <img src="{{ STATIC_URL }}{{imgsrc}}" />
            </div>
            <div id="stats">
                <ul>
                {% for key, value in employeeInfo.items %}
                    <li>{{ key }}: {{ value }}</li>
                {% endfor %}
                </ul>
                <p id="downloadBtn"></p>
            </div>
        </div>
        <div id="rightSide">
            <div id="controls">
            </div>
            <div id="canvas">
                <div id="graph1">
                </div>
            </div>
		    <div class="chartSwitch">
      			<a id="TemperatureButton" class="chartSwitch" href="#">Temperature</a>                
	  			<a id="NoiseButton" class="chartSwitch" href="#">Noise</a>
  				<a id="HumidityButton" class="chartSwitch" href="#">Humidity</a>  
  				<a id="ImpactButton" class="chartSwitch" href="#">Impacts</a>
			</div>
            <div id="status">
                <h2>Summary</h2>
                <div id="summary">
                <h3>Normal</h3>
                    <ul>
                    </ul>
                </div>
                <button id="tableHeader">Details</button>
                <table id="memberTable">
                </table>
            </div>
        </div>
    <div class="outputData">
    </div>
{% endblock %}
