{% extends "base.html" %}
{% block title %}SafeTrac -- Employee{% endblock %}
{% block headSection %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    {% load chartit %}
    {{ chart1|load_charts:"graph1" }}
{% endblock %}

{% block content %}
<!-- Employee View  -->
        <div id="leftSide">
            <div id="profile">
                <img src="{{ STATIC_URL }}{{imgsrc}}" />
            </div>
            <div id="stats">
                <ul>
                {% for key, value in employeeInfo.items %}
                    <li>{{ key }}: {{ value }}</li>
                {% endfor %}
                </ul>
            </div>
            <button>Create Report</button>
        </div>
        <div id="rightSide">
            <div id="controls">
            </div>
            <div id="canvas">
                <div id="graph1">
                </div>
            </div>
            <div id="status">
				  {% if not isSafe %}
	                  <div id="warning">
	                  <h2>DANGER</h2>
		                <ul>
		                {% for item in dangerValues %}
		   				    {% if item.isHigh %}
			                    <li><p>Type:{{ item.sensorName }}: {{item.dataItem.value}} is too high!</p></li>
							{% else %}
			                    <li><p>Type:{{ item.sensorName }}: {{item.dataItem.value}} is too low!</p></li>
				  			{% endif %}
		                {% endfor %}
		                </ul>
	                  </div>
	                  
				  {% else %}
	                  <h2>Workers in safe conditions</h2>
				  {% endif %}
                <table>
                    <tr>
                        <td>Temperature</td>
                        <td>Humidity</td>
                        <td>Noise</td>
                        <td>Impact</td>
                    </tr>
                    <tr>
                        <td>{{currentValues.temp}}</td>
                        <td>{{currentValues.humid}}</td>
                        <td>{{currentValues.noise}}</td>
                        <td>{{currentValues.impact}}</td>
                    </tr>
                </table>
            </div>	
        </div>
{% endblock %}