{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<!-- Management View  -->
        <div id="leftSide">
            <!-- Searchbar Here -->
            <table>
                <tr><th>Team Name</th></tr>
                {% for team in teams %}
                    <tr><td>team.name</td></tr>
                {% endfor %}
            </table>
            <!-- Searchbar Here -->
            <table>
                <tr>
                    <td>Name</td>
                    <td>Employee ID</td>
                    <td>Job Title</td>
                    <td>Location</td>
                </tr>
                {% for member in team %}
                    <tr>
                        <td>{{member.name}}</td>
                        <td>{{member.id}}</td>
                        <td>{{member.title}}</td>
                        <td>{{member.loc}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id="rightSide">
            
        </div>
    </body>
{% endblock %}
{%block footer %}    
{% endblock %}ag