{% extends "base.html" %}
{% block title %}SafeTrac -- Supervisor{% endblock %}
{% block headSection %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.qtip-1.0.0-rc3.min.js"></script> 
    <script src="{{STATIC_URL}}scripts/supportFun.js"></script>
    <script src="{{STATIC_URL}}scripts/supervisor-view.js"></script>

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    {% load chartit %}
    {{ chart1|load_charts:"graph1" }}
{% endblock %}
{% block titleTextImage %}
    <div id="supervisorTitle"> 
        <img id="titleImage" src="{{ STATIC_URL }}assets/title.png"> 
    </div>
{% endblock %}
{% block content %}
<div class="page">
    <a href="management/?page=manage">Manage</a>
    <div id="leftSide">
        <h2>Select a Group &nbsp &nbsp Search for Employee</h2>
        <div>
            <select id="teamSelect">
            </select>
        </div>
        <div>
            <div class="ui-widget">
                <label class="searchtitle" for="name"></label>
                <input id="search" />
            </div>
        </div>

        <div>
            <h2>Currently Viewing</h2>
            <button id="all">Select All</button>
            <button id="none">Deselect All</button>
        </div>

        <div id="groupBlk">
            <ul id="member">
            </ul>
        </div>
    </div>
    <div id="rightSide">
        <div id="control">
        </div>
        <div id="canvas">
            <div id="graph1">
            </div>
        </div>
        <div class="chartSwitch">
     		<a id="TemperatureButton" class="chartSwitch" href="#">Temperature</a>                
  			<a id="NoiseButton" class="chartSwitch" href="#">Noise</a>
 			<a id="HumidityButton" class="chartSwitch" href="#">Humidity</a>  
			<a id="ImpactButton" class="chartSwitch" href="#">Impacts</a>
		</div>
        <div id="status">
            <div class="column">
                <h2>Summary</h2>
                <div id="summary">
                    <h3>Normal</h3>
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="column">
                <h2 id="tableHeader"> Details </h2>
                <table id="memberTable">
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{%block footer %}
{% endblock %}
