{% extends "base.html" %}
{% block title %}SafeTrac -- Supervisor{% endblock %}
{% block headSection %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.qtip-1.0.0-rc3.min.js"></script> 
    <script src="{{STATIC_URL}}scripts/supportFun.js"></script>
    <script src="{{STATIC_URL}}scripts/supervisor-manage.js"></script>

	<style>
    	.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }
	</style>
{% endblock %}

{% block titleTextImage %}
    <div id="supervisorTitle"> 
        <img id="titleImage" src="{{ STATIC_URL }}assets/title.png"> 
    </div>
{% endblock %}

{% block content %}
<div class="center">
    <a href="supervisor">View</a>
    <h2>Manage Group</h2>
    <div class="ui-widget">
        <label class="searchtitle" for="employee">Add Employee</label>
        <br />
        <input id="search" />
    </div>
    <div id="groupBlk">
        <ul id="member">
        </ul>
    </div>
</div>
{% endblock %}
{%block footer %}
{% endblock %}
