{% extends "base.html" %}
{% block title %}SafeTrac -- Supervisor{% endblock %}
{% block headSection %}
    <link rel=StyleSheet href="{{STATIC_URL}}css/tmp.css" type="text/css" MEDIA=screen>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.qtip-1.0.0-rc3.min.js"></script> 
    <script src="{{STATIC_URL}}scripts/supportFun.js"></script>
    <script src="{{STATIC_URL}}scripts/supervisor-view.js"></script>
{% endblock %}
{% block content %}
<div class="page">
    <div id="leftSide">
        <h2>Group</h2>
        <div id="groupBlk">
            <button id="all">Select All</button>
            <button id="none">Deselect All</button>
            <ul id="member">
            </ul>
        </div>
    </div>
    <div id="rightSide">
        <div id="control">
        </div>
        <div id="canvas">
            <div id="graph1">
            </div>
        </div>
        <div id="status">
            <h2>Summary</h2>
            <div id="summary">
            <h3>Normal</h3>
                <ul>
                </ul>
            </div>
            <h2 id="tableHeader">Details</h2>
            <table id="memberTable">
            </table>
        </div>
    </div>
</div>
{% endblock %}
{%block footer %}
{% endblock %}
