{%extends "base.html" %}
{% block title %}SafeTrac -- Supervisor{% endblock %}
{% block headSection %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
{% endblock %}
{% block content %}
<div class="page" id="page2">
    <!-- Searchbar Here -->
    <table>
        <tr><th>Team Name</th></tr>
            {% for team in teams %}
            <tr><td>team.name</td></tr>
            {% endfor %}
        </table>
     <!-- Searchbar Here -->
     <div id="searchBlk">
     </div>
</div>
{% endblock %}
{%block footer %}
{% endblock %}
                                                    
